#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: #fff5d7 !important;
}
  
.nav-link {
    color: black !important;
    text-decoration: none !important;
}


#fullNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem;
    margin-bottom: 1.5rem;
}

.h2 {
    color: black !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #ff5e6c !important;
    transform: scale(1.2);
}


